.start-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.2s ease;
  background: #5e5e5e;

  &.is-last {
    background: var(--bg);

    .swiper-pagination {
      opacity: 0;
    }
  }

  .logo-animation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: 75%;
      margin-bottom: 15px;
    }

    .subtitle {
      width: 70%;
    }

    h2 {
      text-align: center;
    }
  }

  .onboarding {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .swiper-container {
      display: flex;
      height: 100%;
      width: 100%;
      padding: 30px;
    }

    .swiper-wrapper {
      height: calc(100% - 23px);
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      background: var(--bg);
      border-radius: 10px;
      will-change: box-shadow;
      transition: box-shadow 0.1s ease;
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &.swiper-slide-active {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }

      .tip {
        position: absolute;
        right: 15px;
        bottom: 5px;
        font-size: 12px;
        text-transform: uppercase;
        color: grey;
      }

      h2 {
        text-align: center;
      }

      .animation-wrap {
        height: 80%;

        video {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .text-wrap {
        margin: 15px 0;
      }

      &.last-slide {
        box-shadow: none;
        justify-content: flex-start;

        h1 {
          margin-top: 50%;
        }

        a {
          margin-top: 30px;
          display: block;
          width: 80%;
        }

        button {
          width: 100%;
        }
      }
    }

    .swiper-pagination {
      bottom: 15px;
      transition: opacity 0.3s ease;

      .swiper-pagination-bullet {
        background: #fff;
        margin: 0 8px;
        opacity: 0.3;
        transition: opacity 0.2s ease;
      }

      .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
      }
    }
  }
}
