.footer {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  border-top: 1px solid #aaaaaa;

  .text {
    margin-bottom: 15px;
  }
}
